* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#principal {
  background-image: url(../imagenes.img/fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  overflow-x: hidden;
}

.encabezado {
  width: 100%;
  height: 270px;
  padding-top: 2px;
  background-color: black;
  border: solid 6px red;
}

.encabezado .container1 {
  margin-right: 10px;
  margin-left: 5px;
}

.encabezado .container1 .navbar-toggler {
  background-color: #9f1414;
}

.encabezado .container1 .navbar {
  padding-top: 1px;
  padding-bottom: 0px;
}

.offcanvas-header {
  background-color: #db3c3c;
  border-bottom: solid 5px #9f1414;
}

.offcanvas-header #offcanvasNavbarLabel {
  font-size: 25px;
}

.offcanvas-body {
  background-color: #ffffff;
}

.offcanvas-body .nav-item {
  font-size: 23px;
  color: #9f1414;
  text-shadow: 0 0 1px #000000, -1px -1px #000000, 1px -1px #ffffff, -1px 1px #000000, 1px 1px #ffffff;
}

.encabezado h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 49px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: red;
  text-shadow: 0 0 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
  margin-top: 0px;
}

.encabezado h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 6px;
  font-size: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  text-shadow: 0 0 1px white, -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}

.encabezado nav li {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  margin-top: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 13%;
  padding: 0px;
  margin: 2px;
  background-color: white;
  /* border: 2px solid red;*/
  text-align: center;
  color: white;
}

.encabezado a {
  text-decoration: none;
  color: black;
}

main h2 {
  margin: 5px;
  height: 52px;
  padding-top: 5px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border: solid 3px red;
}

.h3-las-terneritas {
  font-size: 60px;
}

.texto-ganado {
  font-size: 20px;
}

.container {
  margin: auto;
}

.tarjetas {
  text-align: center;
}

.tarjeta-contenido {
  font-size: 20px;
}

.Trabajo {
  border: solid black;
  border-radius: 50px;
  padding-top: 25px;
  font-size: 25px;
  text-align: center;
}

.mapa {
  height: 420px;
  padding: 20px 20px 20px 20px;
  width: 100%;
}

.footer {
  padding-top: 50px;
  padding-bottom: 30px;
}

.numero {
  font-size: 30px;
  -webkit-text-decoration: solid;
          text-decoration: solid;
}

.nav-link {
  border: solid white;
  list-style: none;
}

.container-fluid {
  color: white;
  margin: auto;
  padding-bottom: 20px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.container-fluid .card {
  background-color: #e65757;
}

.container-fluid .card .parrafo:hover {
  color: white;
  background-color: #ec1212;
  -webkit-box-shadow: 1px 1px 1px #ec1212;
          box-shadow: 1px 1px 1px #ec1212;
  -webkit-transition: all 350ms ease;
  transition: all 350ms ease;
  border-radius: 3px;
  -webkit-transform: translateY(0%);
          transform: translateY(0%);
}

.container-fluid .col :hover {
  color: white;
  background-color: #ec1212;
  -webkit-box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 10px 10px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  border-radius: 3px;
  -webkit-transform: translateY(-0.2%);
          transform: translateY(-0.2%);
}

.container-fluid .col :hover .card-title:hover {
  color: white;
  background-color: #ec1212;
  -webkit-box-shadow: 5px 10px 10px #ec1212;
          box-shadow: 5px 10px 10px #ec1212;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 3px;
  -webkit-transform: translateY(-0.2%);
          transform: translateY(-0.2%);
}

.container-fluid .col :hover .card-text:hover {
  color: white;
  background-color: #ec1212;
  -webkit-box-shadow: 5px 10px 10px #ec1212;
          box-shadow: 5px 10px 10px #ec1212;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 3px;
  -webkit-transform: translateY(-0.2%);
          transform: translateY(-0.2%);
}

.finos {
  color: black;
  padding-top: 6px;
  text-align: center;
}

/*aves */
main .contenedor-pollo {
  margin-top: 25px;
  text-align: center;
}

/*cerdo */
@media screen and (max-width: 480px) {
  .navegador .lista-menu {
    display: none;
  }
  .encabezado h1 {
    padding-top: 30px;
    font-size: 42px;
  }
  .encabezado h2 {
    font-size: 50px;
  }
  .ofertas div span {
    font-size: 20px;
    text-align: center;
    padding-top: 7px;
  }
}

@media screen and (min-width: 768px) {
  .navbar-toggler {
    display: none;
  }
  .encabezado h1 {
    padding-top: 33px;
  }
}

@media screen and (max-width: 768px) {
  main .banner {
    display: none;
  }
  .navegador .lista-menu {
    display: none;
  }
  .encabezado .otros {
    font-size: 13px;
  }
  .encabezado .nosotros {
    font-size: 20px;
  }
  .encabezado .ubicacion {
    font-size: 13px;
  }
  .card {
    color: white;
    background-color: #ec1212;
  }
}

@media screen and (max-width: 480px) {
  .card {
    color: white;
    background-color: #ec1212;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=estilo.css.map */